// COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;

$primary-color: #1F7EA1;
$secondary-color: #5BC9C4;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.5rem;
$big-font-size: 5rem;
$mid-font-size: 3rem;
